{% extends "base_generic.html" %}

{% block title %}
<title>How Much Trouble Would I Be In?</title>
{% endblock %}


{% block content %}
<h1>HowMuchTroubleWouldIBeIn.com</h1>

  <p>This is where you can find out how much trouble you would be in if you decided to do something. </p><p>For starters - If you have to ask, it's probably a lot.</p>
  

<h3>This website is also a library.  </h3><h2>Site Overview</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    Containing HOME:
    <li>Genres: {{ home_genres }}</li>
    <li>Books: {{ home_books }}</li>
  </ul>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}
